## Valores Nulos

In [1]:
# Iniciar siempre
import pandas as pd

In [2]:
# Importar Empleado.csv
df = pd.read_csv('../data/Empleado.csv')
df

,Edad,Renuncia,ViajesNegocios,TarifaDiaria,Departamento,DistanciaDesdeCasa,NivelEducacion,Profesion,RecuentoEmpleados,NumeroEmpleado,...,SatisfaccionRelacionLaboral,HorasEstandar,NivelParticipacionAcciones,AñosLaboralesTotales,NroCapacitacionUltimoAño,EquilibrioVidaLaboral,AñosEmpresa,AñosRolActual,AñosDesdeUltimaPromocion,AñosComoJefe
0,41,Yes,Travel_Rarely,1102,Sales,1.0,2,Life Sciences,1.0,1,...,1,80,0,8,0,1,6,4.0,0.0,5
1,49,No,Travel_Frequently,279,Research & Development,8.0,1,Life Sciences,1.0,2,...,4,80,1,10,3,3,10,7.0,1.0,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2.0,2,Other,1.0,4,...,2,80,0,7,3,3,0,0.0,0.0,0
3,33,No,Travel_Frequently,1392,Research & Development,3.0,4,Life Sciences,1.0,5,...,3,80,0,8,3,3,8,7.0,3.0,0
4,37,Yes,Travel_Rarely,1373,NaN,2.0,2,Other,1.0,4,...,2,80,0,7,3,3,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,47,No,Non-Travel,1162,Research & Development,1.0,1,NaN,1.0,2000,...,1,80,2,14,3,1,13,8.0,5.0,12
1481,35,No,NaN,1490,Research & Development,11.0,4,Medical,1.0,2003,...,3,80,1,5,3,3,2,2.0,2.0,2
1482,22,No,NaN,581,Research & Development,1.0,2,Life Sciences,1.0,2007,...,4,80,0,4,2,4,3,2.0,1.0,2
1483,35,No,NaN,1395,Research & Development,9.0,4,Medical,1.0,2008,...,2,80,0,10,5,3,10,NaN,0.0,8
1484,33,No,NaN,501,Research & Development,NaN,2,Medical,1.0,2009,...,1,80,1,10,6,3,9,7.0,8.0,1

#### Método info()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1485 entries, 0 to 1484
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Edad                         1485 non-null   int64
 1   Renuncia                     1484 non-null   object
 2   ViajesNegocios               1477 non-null   object
 3   TarifaDiaria                 1485 non-null   int64
 4   Departamento                 1484 non-null   object
 5   DistanciaDesdeCasa           1476 non-null   float64
 6   NivelEducacion               1485 non-null   int64
 7   Profesion                    1480 non-null   object
 8   RecuentoEmpleados            1484 non-null   float64
 9   NumeroEmpleado               1485 non-null   int64
 10  SatisfaccionAmbienteTrabajo  1485 non-null   int64
 11  Genero                       1478 non-null   object
 12  TarifaPorHora                1485 non-null   int64
 13  ParticipacionTrabajo         1485 non-null   int64
 14  NivelTrabajo                 1485 non-null   int64
 15  RolTrabajador                1483 non-null   object
 16  Satisfaccionlaboral          1485 non-null   int64
 17  EstadoCivil                  1475 non-null   object
 18  IngresosMensuales            1485 non-null   int64
 19  TarifaMensual                1485 non-null   int64
 20  NumeroEmpresasTrabajo        1485 non-null   int64
 21  MayorDe18                    1485 non-null   object
 22  TiempoExtra                  1477 non-null   object
 23  PorcentajeAumentoSalarial    1485 non-null   int64
 24  CalificacionRendimiento      1485 non-null   int64
 25  SatisfaccionRelacionLaboral  1485 non-null   int64
 26  HorasEstandar                1485 non-null   int64
 27  NivelParticipacionAcciones   1485 non-null   int64
 28  AñosLaboralesTotales         1485 non-null   int64
 29  NroCapacitacionUltimoAño     1485 non-null   int64
 30  EquilibrioVidaLaboral        1485 non-null   int64
 31  AñosEmpresa                  1485 non-null   int64
 32  AñosRolActual                1483 non-null   float64
 33  AñosDesdeUltimaPromocion     1484 non-null   float64
 34  AñosComoJefe                 1485 non-null   int64
dtypes: float64(4), int64(22), object(9)
memory usage: 406.2+ KB

#### Método describe()

In [4]:
df.describe()

,Edad,TarifaDiaria,DistanciaDesdeCasa,NivelEducacion,RecuentoEmpleados,NumeroEmpleado,SatisfaccionAmbienteTrabajo,TarifaPorHora,ParticipacionTrabajo,NivelTrabajo,...,SatisfaccionRelacionLaboral,HorasEstandar,NivelParticipacionAcciones,AñosLaboralesTotales,NroCapacitacionUltimoAño,EquilibrioVidaLaboral,AñosEmpresa,AñosRolActual,AñosDesdeUltimaPromocion,AñosComoJefe
count,1485.000000,1485.000000,1476.000000,1485.000000,1484.0,1485.000000,1485.000000,1485.000000,1485.000000,1485.000000,...,1485.000000,1485.0,1485.000000,1485.000000,1485.000000,1485.000000,1485.000000,1483.000000,1484.000000,1485.000000
mean,36.907071,803.634343,9.155149,2.913131,1.0,1028.290236,2.724579,65.872727,2.731313,2.062626,...,2.707071,80.0,0.791246,11.268687,2.805387,2.763636,7.008081,4.232637,2.190701,4.127273
std,9.118610,404.015552,8.088220,1.025876,0.0,606.830796,1.092227,20.372424,0.708912,1.104138,...,1.082691,0.0,0.851226,7.754478,1.291366,0.709027,6.115460,3.624845,3.218397,3.574670
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,466.000000,2.000000,2.000000,1.0,488.000000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1025.000000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1162.000000,14.000000,4.000000,1.0,1564.000000,4.000000,84.000000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,10.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

## Valores Nulos

#### Método isNull()

In [5]:
df.isnull()

,Edad,Renuncia,ViajesNegocios,TarifaDiaria,Departamento,DistanciaDesdeCasa,NivelEducacion,Profesion,RecuentoEmpleados,NumeroEmpleado,...,SatisfaccionRelacionLaboral,HorasEstandar,NivelParticipacionAcciones,AñosLaboralesTotales,NroCapacitacionUltimoAño,EquilibrioVidaLaboral,AñosEmpresa,AñosRolActual,AñosDesdeUltimaPromocion,AñosComoJefe
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1481,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1482,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1483,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1484,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

#### Método isnull().sum() | Muestra el total de las columnas sin datos (nulos)

In [6]:
df.isnull().sum()

Edad                            0
Renuncia                        1
ViajesNegocios                  8
TarifaDiaria                    0
Departamento                    1
DistanciaDesdeCasa              9
NivelEducacion                  0
Profesion                       5
RecuentoEmpleados               1
NumeroEmpleado                  0
SatisfaccionAmbienteTrabajo     0
Genero                          7
TarifaPorHora                   0
ParticipacionTrabajo            0
NivelTrabajo                    0
RolTrabajador                   2
Satisfaccionlaboral             0
EstadoCivil                    10
IngresosMensuales               0
TarifaMensual                   0
NumeroEmpresasTrabajo           0
MayorDe18                       0
TiempoExtra                     8
PorcentajeAumentoSalarial       0
CalificacionRendimiento         0
SatisfaccionRelacionLaboral     0
HorasEstandar                   0
NivelParticipacionAcciones      0
AñosLaboralesTotales            0
NroCapacitacionUltimoAño        0
EquilibrioVidaLaboral           0
AñosEmpresa                     0
AñosRolActual                   2
AñosDesdeUltimaPromocion        1
AñosComoJefe                    0
dtype: int64

#### Método dropna() | Elimina cualquier fila con al menos un valor nulo, pero devolverá un nuevo DataFrame sin alterar el original

In [8]:
df2 = df.dropna()
df2

,Edad,Renuncia,ViajesNegocios,TarifaDiaria,Departamento,DistanciaDesdeCasa,NivelEducacion,Profesion,RecuentoEmpleados,NumeroEmpleado,...,SatisfaccionRelacionLaboral,HorasEstandar,NivelParticipacionAcciones,AñosLaboralesTotales,NroCapacitacionUltimoAño,EquilibrioVidaLaboral,AñosEmpresa,AñosRolActual,AñosDesdeUltimaPromocion,AñosComoJefe
0,41,Yes,Travel_Rarely,1102,Sales,1.0,2,Life Sciences,1.0,1,...,1,80,0,8,0,1,6,4.0,0.0,5
1,49,No,Travel_Frequently,279,Research & Development,8.0,1,Life Sciences,1.0,2,...,4,80,1,10,3,3,10,7.0,1.0,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2.0,2,Other,1.0,4,...,2,80,0,7,3,3,0,0.0,0.0,0
3,33,No,Travel_Frequently,1392,Research & Development,3.0,4,Life Sciences,1.0,5,...,3,80,0,8,3,3,8,7.0,3.0,0
5,27,No,Travel_Rarely,591,Research & Development,2.0,1,Medical,1.0,7,...,4,80,1,6,3,3,2,2.0,2.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,26,No,Travel_Rarely,1167,Sales,5.0,3,Other,1.0,2060,...,4,80,0,5,2,3,4,2.0,0.0,0
1466,36,No,Travel_Frequently,884,Research & Development,23.0,2,Medical,1.0,2061,...,3,80,1,17,3,3,5,2.0,0.0,3
1468,27,No,Travel_Rarely,155,Research & Development,4.0,3,Life Sciences,1.0,2064,...,2,80,1,6,0,3,6,2.0,0.0,3
1469,49,No,Travel_Frequently,1023,Sales,2.0,3,Medical,1.0,2065,...,4,80,0,17,3,2,9,6.0,0.0,8
1470,34,No,Travel_Rarely,628,Research & Development,8.0,3,Medical,1.0,2068,...,1,80,0,6,3,4,4,3.0,1.0,2

#### dropna(axis=1) | Elimina columnas con valores nulos

In [9]:
df3 = df.dropna(axis=1)
df3

,Edad,TarifaDiaria,NivelEducacion,NumeroEmpleado,SatisfaccionAmbienteTrabajo,TarifaPorHora,ParticipacionTrabajo,NivelTrabajo,Satisfaccionlaboral,IngresosMensuales,...,PorcentajeAumentoSalarial,CalificacionRendimiento,SatisfaccionRelacionLaboral,HorasEstandar,NivelParticipacionAcciones,AñosLaboralesTotales,NroCapacitacionUltimoAño,EquilibrioVidaLaboral,AñosEmpresa,AñosComoJefe
0,41,1102,2,1,2,94,3,2,4,5993,...,11,3,1,80,0,8,0,1,6,5
1,49,279,1,2,3,61,2,2,2,5130,...,23,4,4,80,1,10,3,3,10,7
2,37,1373,2,4,4,92,2,1,3,2090,...,15,3,2,80,0,7,3,3,0,0
3,33,1392,4,5,4,56,3,1,3,2909,...,11,3,3,80,0,8,3,3,8,0
4,37,1373,2,4,4,92,2,1,3,2090,...,15,3,2,80,0,7,3,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,47,1162,1,2000,3,98,3,3,2,11957,...,18,3,1,80,2,14,3,1,13,12
1481,35,1490,4,2003,4,43,3,1,3,2660,...,11,3,3,80,1,5,3,3,2,2
1482,22,581,2,2007,4,63,3,1,3,3375,...,12,3,4,80,0,4,2,4,3,2
1483,35,1395,4,2008,2,48,3,2,3,5098,...,19,3,2,80,0,10,5,3,10,8
1484,33,501,2,2009,2,95,3,2,4,4878,...,13,3,1,80,1,10,6,3,9,1

#### Método fillna() | Reemplazar los valores nulos con datos (imputación)

In [10]:
# Extraemos los valores de las columnas en una variable
vColumnaDistanciaCasa = df['DistanciaDesdeCasa']

In [11]:
vColumnaDistanciaCasa.head

<bound method NDFrame.head of 0        1.0
1        8.0
2        2.0
3        3.0
4        2.0
        ...
1480     1.0
1481    11.0
1482     1.0
1483     9.0
1484     NaN
Name: DistanciaDesdeCasa, Length: 1485, dtype: float64>

In [12]:
# Imputaremos asignando la media, para ello calculamos la media
ColumnaDistanciaCasaMedia = vColumnaDistanciaCasa.mean()
ColumnaDistanciaCasaMedia

9.155149051490515

In [13]:
# Imputaremos asignando la media
vColumnaDistanciaCasa.fillna(ColumnaDistanciaCasaMedia, inplace=True)

In [14]:
# Extraemos los valores de las columnas en una variable
vcolumna = df['TiempoExtra']

In [15]:
vcolumna.head()

0    Yes
1     No
2    Yes
3    Yes
4    Yes
Name: TiempoExtra, dtype: object

In [16]:
# Asignamos valores a los datos vacios
vcolumna.fillna("Yes", inplace=True)

In [17]:
df.isnull().sum()

Edad                            0
Renuncia                        1
ViajesNegocios                  8
TarifaDiaria                    0
Departamento                    1
DistanciaDesdeCasa              0
NivelEducacion                  0
Profesion                       5
RecuentoEmpleados               1
NumeroEmpleado                  0
SatisfaccionAmbienteTrabajo     0
Genero                          7
TarifaPorHora                   0
ParticipacionTrabajo            0
NivelTrabajo                    0
RolTrabajador                   2
Satisfaccionlaboral             0
EstadoCivil                    10
IngresosMensuales               0
TarifaMensual                   0
NumeroEmpresasTrabajo           0
MayorDe18                       0
TiempoExtra                     0
PorcentajeAumentoSalarial       0
CalificacionRendimiento         0
SatisfaccionRelacionLaboral     0
HorasEstandar                   0
NivelParticipacionAcciones      0
AñosLaboralesTotales            0
NroCapacitacionUltimoAño        0
EquilibrioVidaLaboral           0
AñosEmpresa                     0
AñosRolActual                   2
AñosDesdeUltimaPromocion        1
AñosComoJefe                    0
dtype: int64

#### Método bfill() | Rellena los valores de Na/NaN utilizando el siguiente (hacia adelante) valor válido para rellenar el hueco

In [18]:
df.bfill(inplace=True)
df

,Edad,Renuncia,ViajesNegocios,TarifaDiaria,Departamento,DistanciaDesdeCasa,NivelEducacion,Profesion,RecuentoEmpleados,NumeroEmpleado,...,SatisfaccionRelacionLaboral,HorasEstandar,NivelParticipacionAcciones,AñosLaboralesTotales,NroCapacitacionUltimoAño,EquilibrioVidaLaboral,AñosEmpresa,AñosRolActual,AñosDesdeUltimaPromocion,AñosComoJefe
0,41,Yes,Travel_Rarely,1102,Sales,1.000000,2,Life Sciences,1.0,1,...,1,80,0,8,0,1,6,4.0,0.0,5
1,49,No,Travel_Frequently,279,Research & Development,8.000000,1,Life Sciences,1.0,2,...,4,80,1,10,3,3,10,7.0,1.0,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2.000000,2,Other,1.0,4,...,2,80,0,7,3,3,0,0.0,0.0,0
3,33,No,Travel_Frequently,1392,Research & Development,3.000000,4,Life Sciences,1.0,5,...,3,80,0,8,3,3,8,7.0,3.0,0
4,37,Yes,Travel_Rarely,1373,Research & Development,2.000000,2,Other,1.0,4,...,2,80,0,7,3,3,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,47,No,Non-Travel,1162,Research & Development,1.000000,1,Medical,1.0,2000,...,1,80,2,14,3,1,13,8.0,5.0,12
1481,35,No,NaN,1490,Research & Development,11.000000,4,Medical,1.0,2003,...,3,80,1,5,3,3,2,2.0,2.0,2
1482,22,No,NaN,581,Research & Development,1.000000,2,Life Sciences,1.0,2007,...,4,80,0,4,2,4,3,2.0,1.0,2
1483,35,No,NaN,1395,Research & Development,9.000000,4,Medical,1.0,2008,...,2,80,0,10,5,3,10,7.0,0.0,8
1484,33,No,NaN,501,Research & Development,9.155149,2,Medical,1.0,2009,...,1,80,1,10,6,3,9,7.0,8.0,1

#### Método ffill() | Rellena los valores de Na/NaN utilizando el último (hacia atrás) valor válido para rellenar el hueco

In [19]:
df.ffill(inplace=True)
df

,Edad,Renuncia,ViajesNegocios,TarifaDiaria,Departamento,DistanciaDesdeCasa,NivelEducacion,Profesion,RecuentoEmpleados,NumeroEmpleado,...,SatisfaccionRelacionLaboral,HorasEstandar,NivelParticipacionAcciones,AñosLaboralesTotales,NroCapacitacionUltimoAño,EquilibrioVidaLaboral,AñosEmpresa,AñosRolActual,AñosDesdeUltimaPromocion,AñosComoJefe
0,41,Yes,Travel_Rarely,1102,Sales,1.000000,2,Life Sciences,1.0,1,...,1,80,0,8,0,1,6,4.0,0.0,5
1,49,No,Travel_Frequently,279,Research & Development,8.000000,1,Life Sciences,1.0,2,...,4,80,1,10,3,3,10,7.0,1.0,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2.000000,2,Other,1.0,4,...,2,80,0,7,3,3,0,0.0,0.0,0
3,33,No,Travel_Frequently,1392,Research & Development,3.000000,4,Life Sciences,1.0,5,...,3,80,0,8,3,3,8,7.0,3.0,0
4,37,Yes,Travel_Rarely,1373,Research & Development,2.000000,2,Other,1.0,4,...,2,80,0,7,3,3,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,47,No,Non-Travel,1162,Research & Development,1.000000,1,Medical,1.0,2000,...,1,80,2,14,3,1,13,8.0,5.0,12
1481,35,No,Non-Travel,1490,Research & Development,11.000000,4,Medical,1.0,2003,...,3,80,1,5,3,3,2,2.0,2.0,2
1482,22,No,Non-Travel,581,Research & Development,1.000000,2,Life Sciences,1.0,2007,...,4,80,0,4,2,4,3,2.0,1.0,2
1483,35,No,Non-Travel,1395,Research & Development,9.000000,4,Medical,1.0,2008,...,2,80,0,10,5,3,10,7.0,0.0,8
1484,33,No,Non-Travel,501,Research & Development,9.155149,2,Medical,1.0,2009,...,1,80,1,10,6,3,9,7.0,8.0,1

## Eliminar duplicados

#### Método duplicated()

In [20]:
df.duplicated()

0       False
1       False
2       False
3       False
4        True
        ...
1480     True
1481     True
1482    False
1483    False
1484    False
Length: 1485, dtype: bool

#### Método drop_duplicates()

In [21]:
df = df.drop_duplicates()
df

,Edad,Renuncia,ViajesNegocios,TarifaDiaria,Departamento,DistanciaDesdeCasa,NivelEducacion,Profesion,RecuentoEmpleados,NumeroEmpleado,...,SatisfaccionRelacionLaboral,HorasEstandar,NivelParticipacionAcciones,AñosLaboralesTotales,NroCapacitacionUltimoAño,EquilibrioVidaLaboral,AñosEmpresa,AñosRolActual,AñosDesdeUltimaPromocion,AñosComoJefe
0,41,Yes,Travel_Rarely,1102,Sales,1.000000,2,Life Sciences,1.0,1,...,1,80,0,8,0,1,6,4.0,0.0,5
1,49,No,Travel_Frequently,279,Research & Development,8.000000,1,Life Sciences,1.0,2,...,4,80,1,10,3,3,10,7.0,1.0,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2.000000,2,Other,1.0,4,...,2,80,0,7,3,3,0,0.0,0.0,0
3,33,No,Travel_Frequently,1392,Research & Development,3.000000,4,Life Sciences,1.0,5,...,3,80,0,8,3,3,8,7.0,3.0,0
5,27,No,Travel_Rarely,591,Research & Development,2.000000,1,Medical,1.0,7,...,4,80,1,6,3,3,2,2.0,2.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,35,No,Non-Travel,1395,Research & Development,9.000000,4,Medical,1.0,2008,...,2,80,0,10,5,3,10,7.0,0.0,8
1479,33,No,Non-Travel,501,Research & Development,9.155149,2,Medical,1.0,2009,...,1,80,1,10,6,3,9,7.0,8.0,1
1482,22,No,Non-Travel,581,Research & Development,1.000000,2,Life Sciences,1.0,2007,...,4,80,0,4,2,4,3,2.0,1.0,2
1483,35,No,Non-Travel,1395,Research & Development,9.000000,4,Medical,1.0,2008,...,2,80,0,10,5,3,10,7.0,0.0,8
1484,33,No,Non-Travel,501,Research & Development,9.155149,2,Medical,1.0,2009,...,1,80,1,10,6,3,9,7.0,8.0,1

## Selección de Datos

#### Mostrar los Empleados que hicieron horas extras

In [22]:
busqueda = (df['TiempoExtra'] == 'Yes')
busqueda.head()

0     True
1    False
2     True
3     True
5    False
Name: TiempoExtra, dtype: bool

In [23]:
df[df['TiempoExtra'] == 'Yes']

,Edad,Renuncia,ViajesNegocios,TarifaDiaria,Departamento,DistanciaDesdeCasa,NivelEducacion,Profesion,RecuentoEmpleados,NumeroEmpleado,...,SatisfaccionRelacionLaboral,HorasEstandar,NivelParticipacionAcciones,AñosLaboralesTotales,NroCapacitacionUltimoAño,EquilibrioVidaLaboral,AñosEmpresa,AñosRolActual,AñosDesdeUltimaPromocion,AñosComoJefe
0,41,Yes,Travel_Rarely,1102,Sales,1.000000,2,Life Sciences,1.0,1,...,1,80,0,8,0,1,6,4.0,0.0,5
2,37,Yes,Travel_Rarely,1373,Research & Development,2.000000,2,Other,1.0,4,...,2,80,0,7,3,3,0,0.0,0.0,0
3,33,No,Travel_Frequently,1392,Research & Development,3.000000,4,Life Sciences,1.0,5,...,3,80,0,8,3,3,8,7.0,3.0,0
7,59,No,Travel_Rarely,1324,Research & Development,3.000000,3,Medical,1.0,10,...,1,80,3,12,3,2,1,0.0,0.0,0
12,29,No,Travel_Rarely,153,Research & Development,15.000000,2,Life Sciences,1.0,15,...,4,80,0,10,3,3,9,5.0,0.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,35,No,Non-Travel,1490,Research & Development,11.000000,4,Medical,1.0,2003,...,3,80,1,5,3,3,2,2.0,2.0,2
1477,22,No,Non-Travel,581,Research & Development,1.000000,2,Life Sciences,1.0,2007,...,4,80,0,4,2,4,3,2.0,1.0,2
1479,33,No,Non-Travel,501,Research & Development,9.155149,2,Medical,1.0,2009,...,1,80,1,10,6,3,9,7.0,8.0,1
1482,22,No,Non-Travel,581,Research & Development,1.000000,2,Life Sciences,1.0,2007,...,4,80,0,4,2,4,3,2.0,1.0,2
1484,33,No,Non-Travel,501,Research & Development,9.155149,2,Medical,1.0,2009,...,1,80,1,10,6,3,9,7.0,8.0,1

## Práctica
#### Seleccionar los empleados que hicieron horas extras y que tienen una distancia mayor a 20 km

In [24]:
df[(df['TiempoExtra'] == 'Yes') & (df['DistanciaDesdeCasa'] > 20)]

,Edad,Renuncia,ViajesNegocios,TarifaDiaria,Departamento,DistanciaDesdeCasa,NivelEducacion,Profesion,RecuentoEmpleados,NumeroEmpleado,...,SatisfaccionRelacionLaboral,HorasEstandar,NivelParticipacionAcciones,AñosLaboralesTotales,NroCapacitacionUltimoAño,EquilibrioVidaLaboral,AñosEmpresa,AñosRolActual,AñosDesdeUltimaPromocion,AñosComoJefe
15,28,Yes,Travel_Rarely,103,Research & Development,24.0,3,Life Sciences,1.0,19,...,2,80,0,6,4,3,4,2.0,0.0,3
55,26,No,Travel_Rarely,1443,Sales,23.0,3,Marketing,1.0,72,...,3,80,1,5,2,2,2,2.0,0.0,0
58,35,No,Travel_Rarely,1142,Research & Development,23.0,4,Medical,1.0,75,...,3,80,1,4,3,3,2,2.0,2.0,2
92,51,No,Travel_Rarely,632,Sales,21.0,4,Marketing,1.0,120,...,4,80,0,11,2,1,10,7.0,1.0,0
113,54,No,Non-Travel,142,Human Resources,26.0,3,Human Resources,1.0,148,...,3,80,0,23,3,3,5,3.0,4.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1396,31,Yes,Travel_Frequently,754,Sales,26.0,4,Marketing,1.0,1967,...,3,80,0,10,4,3,10,7.0,0.0,8
1397,53,Yes,Travel_Rarely,1168,Sales,24.0,4,Life Sciences,1.0,1968,...,2,80,0,15,2,2,2,2.0,2.0,2
1402,55,No,Travel_Rarely,189,Human Resources,26.0,4,Human Resources,1.0,1973,...,1,80,1,35,0,3,10,9.0,1.0,4
1451,35,No,Travel_Rarely,1146,Human Resources,26.0,4,Life Sciences,1.0,2040,...,3,80,0,9,2,3,9,0.0,1.0,7
1462,50,Yes,Travel_Rarely,410,Sales,28.0,3,Marketing,1.0,2055,...,2,80,1,20,3,3,3,2.0,2.0,0

## Práctica
#### Seleccionar los empleados que trabajan en el departamento de Ventas o Recursos Humanos

In [25]:
df[(df['Departamento'] == "Sales") | (df['Departamento'] == 'Human Resources')]

,Edad,Renuncia,ViajesNegocios,TarifaDiaria,Departamento,DistanciaDesdeCasa,NivelEducacion,Profesion,RecuentoEmpleados,NumeroEmpleado,...,SatisfaccionRelacionLaboral,HorasEstandar,NivelParticipacionAcciones,AñosLaboralesTotales,NroCapacitacionUltimoAño,EquilibrioVidaLaboral,AñosEmpresa,AñosRolActual,AñosDesdeUltimaPromocion,AñosComoJefe
0,41,Yes,Travel_Rarely,1102,Sales,1.0,2,Life Sciences,1.0,1,...,1,80,0,8,0,1,6,4.0,0.0,5
19,53,No,Travel_Rarely,1219,Sales,2.0,4,Life Sciences,1.0,23,...,3,80,0,31,3,3,25,8.0,3.0,7
22,36,Yes,Travel_Rarely,1218,Sales,9.0,4,Life Sciences,1.0,27,...,2,80,0,10,4,3,5,3.0,0.0,3
28,42,No,Travel_Rarely,691,Sales,8.0,4,Marketing,1.0,35,...,4,80,1,10,2,3,9,7.0,4.0,2
30,46,No,Travel_Rarely,705,Sales,2.0,4,Marketing,1.0,38,...,4,80,0,22,2,2,2,2.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462,50,Yes,Travel_Rarely,410,Sales,28.0,3,Marketing,1.0,2055,...,2,80,1,20,3,3,3,2.0,2.0,0
1463,39,No,Travel_Rarely,722,Sales,24.0,1,Marketing,1.0,2056,...,1,80,1,21,2,2,20,9.0,9.0,6
1465,26,No,Travel_Rarely,1167,Sales,5.0,3,Other,1.0,2060,...,4,80,0,5,2,3,4,2.0,0.0,0
1469,49,No,Travel_Frequently,1023,Sales,2.0,3,Medical,1.0,2065,...,4,80,0,17,3,2,9,6.0,0.0,8
1472,35,No,Travel_Rarely,776,Sales,1.0,4,Medical,1.0,100,...,2,80,0,16,2,3,15,13.0,2.0,8

#### Método isin()

In [26]:
df[df['Departamento'].isin(['Sales', 'Human Resources'])]

,Edad,Renuncia,ViajesNegocios,TarifaDiaria,Departamento,DistanciaDesdeCasa,NivelEducacion,Profesion,RecuentoEmpleados,NumeroEmpleado,...,SatisfaccionRelacionLaboral,HorasEstandar,NivelParticipacionAcciones,AñosLaboralesTotales,NroCapacitacionUltimoAño,EquilibrioVidaLaboral,AñosEmpresa,AñosRolActual,AñosDesdeUltimaPromocion,AñosComoJefe
0,41,Yes,Travel_Rarely,1102,Sales,1.0,2,Life Sciences,1.0,1,...,1,80,0,8,0,1,6,4.0,0.0,5
19,53,No,Travel_Rarely,1219,Sales,2.0,4,Life Sciences,1.0,23,...,3,80,0,31,3,3,25,8.0,3.0,7
22,36,Yes,Travel_Rarely,1218,Sales,9.0,4,Life Sciences,1.0,27,...,2,80,0,10,4,3,5,3.0,0.0,3
28,42,No,Travel_Rarely,691,Sales,8.0,4,Marketing,1.0,35,...,4,80,1,10,2,3,9,7.0,4.0,2
30,46,No,Travel_Rarely,705,Sales,2.0,4,Marketing,1.0,38,...,4,80,0,22,2,2,2,2.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462,50,Yes,Travel_Rarely,410,Sales,28.0,3,Marketing,1.0,2055,...,2,80,1,20,3,3,3,2.0,2.0,0
1463,39,No,Travel_Rarely,722,Sales,24.0,1,Marketing,1.0,2056,...,1,80,1,21,2,2,20,9.0,9.0,6
1465,26,No,Travel_Rarely,1167,Sales,5.0,3,Other,1.0,2060,...,4,80,0,5,2,3,4,2.0,0.0,0
1469,49,No,Travel_Frequently,1023,Sales,2.0,3,Medical,1.0,2065,...,4,80,0,17,3,2,9,6.0,0.0,8
1472,35,No,Travel_Rarely,776,Sales,1.0,4,Medical,1.0,100,...,2,80,0,16,2,3,15,13.0,2.0,8

## Agregar Columnas

#### Método assign()

In [27]:
totalPagoPorHorasTrabajadas = df['TarifaPorHora'] * df['HorasEstandar']
df = df.assign(TotalPagoPorHorasTrabajadas = totalPagoPorHorasTrabajadas)
df

,Edad,Renuncia,ViajesNegocios,TarifaDiaria,Departamento,DistanciaDesdeCasa,NivelEducacion,Profesion,RecuentoEmpleados,NumeroEmpleado,...,HorasEstandar,NivelParticipacionAcciones,AñosLaboralesTotales,NroCapacitacionUltimoAño,EquilibrioVidaLaboral,AñosEmpresa,AñosRolActual,AñosDesdeUltimaPromocion,AñosComoJefe,TotalPagoPorHorasTrabajadas
0,41,Yes,Travel_Rarely,1102,Sales,1.000000,2,Life Sciences,1.0,1,...,80,0,8,0,1,6,4.0,0.0,5,7520
1,49,No,Travel_Frequently,279,Research & Development,8.000000,1,Life Sciences,1.0,2,...,80,1,10,3,3,10,7.0,1.0,7,4880
2,37,Yes,Travel_Rarely,1373,Research & Development,2.000000,2,Other,1.0,4,...,80,0,7,3,3,0,0.0,0.0,0,7360
3,33,No,Travel_Frequently,1392,Research & Development,3.000000,4,Life Sciences,1.0,5,...,80,0,8,3,3,8,7.0,3.0,0,4480
5,27,No,Travel_Rarely,591,Research & Development,2.000000,1,Medical,1.0,7,...,80,1,6,3,3,2,2.0,2.0,2,3200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,35,No,Non-Travel,1395,Research & Development,9.000000,4,Medical,1.0,2008,...,80,0,10,5,3,10,7.0,0.0,8,3840
1479,33,No,Non-Travel,501,Research & Development,9.155149,2,Medical,1.0,2009,...,80,1,10,6,3,9,7.0,8.0,1,7600
1482,22,No,Non-Travel,581,Research & Development,1.000000,2,Life Sciences,1.0,2007,...,80,0,4,2,4,3,2.0,1.0,2,5040
1483,35,No,Non-Travel,1395,Research & Development,9.000000,4,Medical,1.0,2008,...,80,0,10,5,3,10,7.0,0.0,8,3840
1484,33,No,Non-Travel,501,Research & Development,9.155149,2,Medical,1.0,2009,...,80,1,10,6,3,9,7.0,8.0,1,7600

#### Método insert()

In [28]:
totalPagoPorHorasTrabajadas = df['TarifaPorHora'] * df['HorasEstandar']
df.insert(1,"TotalPagoPorHorasTrabajadas2",totalPagoPorHorasTrabajadas)
df

,Edad,TotalPagoPorHorasTrabajadas2,Renuncia,ViajesNegocios,TarifaDiaria,Departamento,DistanciaDesdeCasa,NivelEducacion,Profesion,RecuentoEmpleados,...,HorasEstandar,NivelParticipacionAcciones,AñosLaboralesTotales,NroCapacitacionUltimoAño,EquilibrioVidaLaboral,AñosEmpresa,AñosRolActual,AñosDesdeUltimaPromocion,AñosComoJefe,TotalPagoPorHorasTrabajadas
0,41,7520,Yes,Travel_Rarely,1102,Sales,1.000000,2,Life Sciences,1.0,...,80,0,8,0,1,6,4.0,0.0,5,7520
1,49,4880,No,Travel_Frequently,279,Research & Development,8.000000,1,Life Sciences,1.0,...,80,1,10,3,3,10,7.0,1.0,7,4880
2,37,7360,Yes,Travel_Rarely,1373,Research & Development,2.000000,2,Other,1.0,...,80,0,7,3,3,0,0.0,0.0,0,7360
3,33,4480,No,Travel_Frequently,1392,Research & Development,3.000000,4,Life Sciences,1.0,...,80,0,8,3,3,8,7.0,3.0,0,4480
5,27,3200,No,Travel_Rarely,591,Research & Development,2.000000,1,Medical,1.0,...,80,1,6,3,3,2,2.0,2.0,2,3200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,35,3840,No,Non-Travel,1395,Research & Development,9.000000,4,Medical,1.0,...,80,0,10,5,3,10,7.0,0.0,8,3840
1479,33,7600,No,Non-Travel,501,Research & Development,9.155149,2,Medical,1.0,...,80,1,10,6,3,9,7.0,8.0,1,7600
1482,22,5040,No,Non-Travel,581,Research & Development,1.000000,2,Life Sciences,1.0,...,80,0,4,2,4,3,2.0,1.0,2,5040
1483,35,3840,No,Non-Travel,1395,Research & Development,9.000000,4,Medical,1.0,...,80,0,10,5,3,10,7.0,0.0,8,3840
1484,33,7600,No,Non-Travel,501,Research & Development,9.155149,2,Medical,1.0,...,80,1,10,6,3,9,7.0,8.0,1,7600

## Práctica
#### Agregue una columna "AumentoSalario", para aquellos empleados que tienen más de 3 capacitaciones durante el último año y que los años trabajados en la empresa sean mayores a 30.
#### Para el cálculo considere los ingresos mensuales y el porcentaje de aumento.

## Cambiar el Nombre de las Columnas

#### Método rename()

In [30]:
df.rename(columns = {'ViajesNegocios':'ViajesPorNegocios','Departamento':'AreaEmpresa'}, inplace = True)
df

,Edad,TotalPagoPorHorasTrabajadas2,Renuncia,ViajesPorNegocios,TarifaDiaria,AreaEmpresa,DistanciaDesdeCasa,NivelEducacion,Profesion,RecuentoEmpleados,...,HorasEstandar,NivelParticipacionAcciones,AñosLaboralesTotales,NroCapacitacionUltimoAño,EquilibrioVidaLaboral,AñosEmpresa,AñosRolActual,AñosDesdeUltimaPromocion,AñosComoJefe,TotalPagoPorHorasTrabajadas
0,41,7520,Yes,Travel_Rarely,1102,Sales,1.000000,2,Life Sciences,1.0,...,80,0,8,0,1,6,4.0,0.0,5,7520
1,49,4880,No,Travel_Frequently,279,Research & Development,8.000000,1,Life Sciences,1.0,...,80,1,10,3,3,10,7.0,1.0,7,4880
2,37,7360,Yes,Travel_Rarely,1373,Research & Development,2.000000,2,Other,1.0,...,80,0,7,3,3,0,0.0,0.0,0,7360
3,33,4480,No,Travel_Frequently,1392,Research & Development,3.000000,4,Life Sciences,1.0,...,80,0,8,3,3,8,7.0,3.0,0,4480
5,27,3200,No,Travel_Rarely,591,Research & Development,2.000000,1,Medical,1.0,...,80,1,6,3,3,2,2.0,2.0,2,3200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,35,3840,No,Non-Travel,1395,Research & Development,9.000000,4,Medical,1.0,...,80,0,10,5,3,10,7.0,0.0,8,3840
1479,33,7600,No,Non-Travel,501,Research & Development,9.155149,2,Medical,1.0,...,80,1,10,6,3,9,7.0,8.0,1,7600
1482,22,5040,No,Non-Travel,581,Research & Development,1.000000,2,Life Sciences,1.0,...,80,0,4,2,4,3,2.0,1.0,2,5040
1483,35,3840,No,Non-Travel,1395,Research & Development,9.000000,4,Medical,1.0,...,80,0,10,5,3,10,7.0,0.0,8,3840
1484,33,7600,No,Non-Travel,501,Research & Development,9.155149,2,Medical,1.0,...,80,1,10,6,3,9,7.0,8.0,1,7600

## Reemplazar Valores de los Datos

#### Cambiar los valores de la columna "Nivel de Educación":
#### 1: Bachiller
#### 2: Titulado
#### 3: Magister
#### 4: Doctor

In [31]:
df['NivelEducacion'] = df['NivelEducacion'].replace([1,2,3,4],['Bachiller', 'Titulado', 'Maestría', 'Doctorado'])
df

,Edad,TotalPagoPorHorasTrabajadas2,Renuncia,ViajesPorNegocios,TarifaDiaria,AreaEmpresa,DistanciaDesdeCasa,NivelEducacion,Profesion,RecuentoEmpleados,...,HorasEstandar,NivelParticipacionAcciones,AñosLaboralesTotales,NroCapacitacionUltimoAño,EquilibrioVidaLaboral,AñosEmpresa,AñosRolActual,AñosDesdeUltimaPromocion,AñosComoJefe,TotalPagoPorHorasTrabajadas
0,41,7520,Yes,Travel_Rarely,1102,Sales,1.000000,Titulado,Life Sciences,1.0,...,80,0,8,0,1,6,4.0,0.0,5,7520
1,49,4880,No,Travel_Frequently,279,Research & Development,8.000000,Bachiller,Life Sciences,1.0,...,80,1,10,3,3,10,7.0,1.0,7,4880
2,37,7360,Yes,Travel_Rarely,1373,Research & Development,2.000000,Titulado,Other,1.0,...,80,0,7,3,3,0,0.0,0.0,0,7360
3,33,4480,No,Travel_Frequently,1392,Research & Development,3.000000,Doctorado,Life Sciences,1.0,...,80,0,8,3,3,8,7.0,3.0,0,4480
5,27,3200,No,Travel_Rarely,591,Research & Development,2.000000,Bachiller,Medical,1.0,...,80,1,6,3,3,2,2.0,2.0,2,3200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,35,3840,No,Non-Travel,1395,Research & Development,9.000000,Doctorado,Medical,1.0,...,80,0,10,5,3,10,7.0,0.0,8,3840
1479,33,7600,No,Non-Travel,501,Research & Development,9.155149,Titulado,Medical,1.0,...,80,1,10,6,3,9,7.0,8.0,1,7600
1482,22,5040,No,Non-Travel,581,Research & Development,1.000000,Titulado,Life Sciences,1.0,...,80,0,4,2,4,3,2.0,1.0,2,5040
1483,35,3840,No,Non-Travel,1395,Research & Development,9.000000,Doctorado,Medical,1.0,...,80,0,10,5,3,10,7.0,0.0,8,3840
1484,33,7600,No,Non-Travel,501,Research & Development,9.155149,Titulado,Medical,1.0,...,80,1,10,6,3,9,7.0,8.0,1,7600

## Práctica
#### Reemplace los valores de la columna "Nivel de Participación Acciones":
#### 0: Ninguna
#### 1: Baja
#### 2: Media
#### 3: Alta